table,tr,td{
  border:2px solid #000 ;
  border-collapse: collapse;
}
.main{
  display:flex;
  flex-wrap: wrap;
}
.left{
  text-align:justify;
  border: 2px solid #000;
  margin:2px;
  flex:1;
  background-color:  #008B8B ;
  color:#000;
  padding:3px;
}
.right{
  text-align:justify;
  border: 2px solid #000;
  margin:3px;
  flex:2;
  background-color: #F0FFFF;
}
.left img{
  border-radius: 50px;
  border: 5px solid #c454;
  width:50%;
}
/*media queiries (1024,1280,768,480)
1280-1024:desktop
1024-768:tablet(landscape)
768-480:tablet
480:mobile landscape(or)smaller device*/
@media only screen and (min-width:1024px) and (max-width:1280px){

  .main{
    display:flex;
    width:100%;
    flex-direction:row;
  }
  .left{
    background-color:  #aaa ;
    width:25%;
  }
  .right{
    background-color: #F0FFFF;
    width:75%;
  }
}
  
@media only screen  and  (min-width:768px) and (max-width:1024px){

}
@media only screen  and  (min-width:480px) and (max-width:768px){

}
@media only screen  and (max-width:480px){

}
